body{
    background-color: rgb(24, 23, 23);
}

.slide {


    display: flex;
    
    
    overflow-x: auto;
    
    
    scroll-snap-type: x mandatory;
    
    
    }
    .carousel-inner > .item > img {
        display: flex;
    
        width:640px;
        height:360px;
        width: 50%;
        justify-content: center;
    overflow: hidden;
    
    align-items: center;
    
      }

    /* slides > div {
    
    
    
    flex-shrink: 0;
    
    
    width: 100%;
    
    
    height: 300px;
    
    
    scroll-snap-align: start;
    
    
    scroll-behavior: smooth;
    
    
    background: #74ABE2;
    
    
    justify-content: center;
    
    
    align-items: center;
    
    
    font-size: 100px;
    
    
    }
     */
    .mid-image >div > img{
height:500px;
width: 280px;


    transition: .5s ease;
    opacity: 0.3;
    
   /*  transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; */

    }
    .text {
        color: white;
        font-size: 20px;
        position: absolute;
      top: 10%;
        left: 50%;
         -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        padding-top: 0,;
      }
      .text2 {
        color: white;
        font-size: 20px;
        position:relative;
        top: 10%;
    right: 70%;
      
        
         -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        padding-top: 0,;
      }

      .mychoice{
          display: flex;
          flex-direction:column;
          left: 0;
          flex-grow: 4;
      }